.products-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 0.75rem;
}

.product {
  grid-column: span 12;
}

@media (min-width: 512px) {
  .product {
    grid-column: span 6;
  }
}

@media (min-width: 768px) {
  .product {
    grid-column: span 4;
  }
}

@media (min-width: 1024px) {
  .product {
    grid-column: span 3;
  }
}

@media (min-width: 1300px) {
  .product {
    grid-column: span 2;
  }
}
