.products-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1rem));
  grid-template-rows: auto;
  gap: 0.75rem;
}
