.product-details-wrapper {
  padding: 0 1rem;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* Product Details Left Img area  */
.product-details-img-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  position: sticky;
  top: 0.5rem;
}

.product-details-img-container .img-thumbs {
  display: inline-block;
}

.product-details-img-container .img-thumbs .img-thumb {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 1px solid var(--gray-700);
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.product-details-img-container .img-thumbs .img-thumb:hover,
.product-details-img-container .img-thumbs .img-thumb.img-thumb-active {
  box-shadow: 0 0 1px 3px rgba(var(--warning-rgb), 0.6);
}

.product-details-img-container .img-main img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Product Details right Text Area  */
.product-details-text .title {
  font-size: 22px;
  font-weight: 500;
  color: var(--gray-800);
}

.product-details-text {
  color: var(--gray-800);
}

.product-details-text .rating {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.product-details-text .rating .rating-icon {
  display: inline-flex;
  color: var(--warning);
  padding-right: 0.25rem;
}

.product-details-text .rating .rating-icon-label {
  font-size: 12px;
  font-weight: 500;
}

.product-details-text .desc-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.product-details-text .desc {
  font-weight: 400;
  line-height: 1.4;
}

.product-details-text .main-price {
  font-size: 22px;
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 0.75rem;
}

.product-details-text .quantity-container {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 1rem;
  width: 140px;
}

.product-details-text .quantity-container .quantity-input {
  width: 100%;
}

.product-details-text .quantity-container .decrease-btn,
.product-details-text .quantity-container .increase-btn {
  border: 1px solid var(--gray-500);
  outline: 0;
  box-shadow: none;
  line-height: 1;
  padding: 0.5rem;
  cursor: pointer;
}

.product-details-text .quantity-container .decrease-btn:hover,
.product-details-text .quantity-container .increase-btn:hover {
  background: var(--gray-400);
}

.product-details-text .quantity-container .decrease-btn:active,
.product-details-text .quantity-container .increase-btn:active {
  background: var(--gray-500);
}

.product-details-text .add-to-cart-btn,
.product-details-text .buy-now-btn {
  border: 1px solid var(--gray-500);
  outline: none;
  box-shadow: none;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 50px;
  line-height: 1;
  padding: 0.75rem 1.75rem;
  font-size: 14px;
  background: var(--warning);
  color: var(--gray-900);
}

.product-details-text .add-to-cart-btn:hover,
.product-details-text .buy-now-btn:hover {
  background: rgba(var(--warning-rgb), 0.8);
}

.product-details-text .add-to-cart-btn:active,
.product-details-text .buy-now-btn:active {
  background: var(--warning);
}

/* Responsive code  */
@media (max-width: 1024px) {
  .product-details {
    grid-template-columns: 1fr;
  }

  .product-details {
    grid-template-columns: 1fr;
  }

  .product-details-img-container {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  .product-details-img-container .img-thumbs {
    order: 2;
    text-align: center;
  }

  .product-details-img-container .img-main {
    order: 1;
  }

  .product-details-img-container .img-thumbs .img-thumb {
    margin: 0 .25rem .25rem;
  }
}
